@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
*::before, *::after{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../images/bgkubito.jpg');
  background-position: 100%;

}

.container{
  width: 350px;
  height: 650px;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;  
  background: #fbfcff80;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(32, 32, 32, 0.500);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(8px);
}

.container i{
  cursor: pointer;
}

.top-bar, .progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar i{
  font-size: 22px;
  color:#977B49;
}

.top-bar i:first-child{
  margin-left: -7px;
  font-size: 22px;
  color: #D69D9B;
}

.top-bar span{
  font-size: 18px;
  margin-left: -3px;
  color: #5e5e5e;
}

.img-area{
  width: 100%;
  height: 280px;
  overflow: hidden;
  margin-top: 25px;
  border-radius: 50%;
  border-radius: 50%;
	box-shadow: 
  0 0 0 7px #ffffff,
	5px 5px 10px #7c7c7c,
	-10px -10px 8px #f1f1f1;
}

.img-area img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-details{
  text-align: center;
  margin: 30px 0;
}

.song-details p{
  color: #5a5a5a;
}

.song-details .name{
  font-weight: 400;
  font-size: 21px;
}

.song-details .artist{
  font-size: 15px;
  opacity: 0.9;
  line-height: 35px;
}

.progress-area{
  height: 6px;
  width: 100%;
  border-radius: 50px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 
  inset 1px 1px 1px #bebebe,
  inset -1px -1px 1px #ffffff;
  cursor: pointer;
}

.progress-area .progress-bar{
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: #D69D9B;
}

.progress-bar::before{
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before{
  opacity: 1;
  pointer-events: auto;
}

.progress-area .song-timer{
  margin-top: 2px;
}

.song-timer span{
  font-size: 13px;
  color: #5a5a5a;
}


.controls{
  margin: 70px 0 10px 0;
}

.controls i{
  user-select: none;
  background:#5a5a5a;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4){
  font-size: 43px;
}

.controls #prev{
  margin-right: -13px;
}

.controls #next{
  margin-left: -13px;
}

.controls i.prev{
  height: 36px;
  width: 36px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 50%;
  box-shadow:
	5px 5px 10px #bebebe,
	-5px -5px 10px #ffffff;
}
.controls i.next{
  height: 36px;
  width: 36px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 50%;
  box-shadow:
	5px 5px 10px #bebebe,
	-5px -5px 10px #ffffff;
}

.controls .play-pause{
  height: 54px;
  width: 54px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 
	0 0 2px rgba(255, 255, 255),
	5px 5px 10px #bebebe,
	-5px -5px 10px #ffffff;
}

.play-pause::before{
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: transparent;
}

.play-pause i{
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #5a5a5a;
  position: absolute;
}

.prev , .next {
  box-shadow:
	5px 5px 10px #bebebe,
	-5px -5px 10px #ffffff;
  border-radius: 50%;
}

.music-list{
  position: absolute;
  width: 100%;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  left: 0;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
  padding: 15px 30px;
  border-radius: 15px;
  background:
  linear-gradient(rgba(255, 255, 255), transparent),
  linear-gradient(to top left, rgb(138, 138, 138), transparent),
  linear-gradient(to top right, rgba(255, 255, 255), transparent);
  background-blend-mode: screen;
  transition: all 0.15s ease-in-out;
}

.music-list.show{
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.music-list ul{
  margin-top: 10px 0;
  max-height: 260px;
  overflow: auto;
}

.music-list ul li{
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: #5a5a5a;
  border-bottom:  1px solid #c5c5c5;
}

.music-list ul li:last-child{
  border-bottom: 0px;
}

.music-list ul li .row span{
  font-size: 17px;
}

.music-list ul li .row p{
  opacity: 0.6;
}

ul li .audio-duration{
  font-size: 16px;
}

.header .row{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #5a5a5a;
  padding-top: 10px;
  padding-bottom: 12px;
}

.header .row i{
  cursor: default;
}

.header .row span{
  margin-left: 5px;
}

.header #close{
  font-size: 22px;
  color: #5a5a5a;
  padding-top: 10px;
  padding-bottom: 12px;
}

.music-list ul::-webkit-scrollbar{
  width: 0;
}

.music-list ul li:hover{
  color: #000000;
}

ul li.playing{
  pointer-events: none;
  color: #977B49;
}
